<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org/">
    <title>ADD ARTICLE</title>
</head>
<body>

<form method="post" th:action="@{/article/create}" th:object="${articleForm}" enctype="multipart/form-data">
    <div>
        <label for="designation"> DESIGNATION : </label>
        <input id="designation" type="text" th:text="${designation}">
    </div>
    <div>
        <label for="price"> PRICE : </label>
        <input id="price" type="text" th:field="*{unitPriceExcludingTax}">
    </div>
    <div>
        <label> VAT : </label>
        <input th:each="vatOption : ${vatOptions}" type="radio" th:value="${vatOption}" th:text="${vatOption.value + '%'}" th:field="*{vat}">
    </div>
    <div>
        <label for="picture"> PICTURE : </label>
        <input id="picture" type="file" th:field="*{image}">
    </div>
    <div>
        <label for="category">Category : </label>
        <select th:field="*{categoryId}" id="category">
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.designation}"></option>
        </select>
    </div>
    <button type="submit">Add</button>
</form>

</body>
</html>